---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=My+first+notes
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ayeYOEiTpbdy6kElNOrvZjY5t", oauth_nonce="da38b7deefdb51e654103603beb8bd65",
        oauth_signature="gypQ1dOBvB%2FHI53VPnRp9OBTBaM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1499967719", oauth_token="1077054156-pA34DnIqwtEkiwErD7LpqkfY8r39wLIOkSpKxoB",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 13 Jul 2017 17:42:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 16c426f5abde33282568bd8acb3693c9
      X-Response-Time:
      - '346'
      X-Transaction:
      - 00db0a6100b0755c
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Jul 13 17:42:00 +0000 2017","id":885554922485415937,"id_str":"885554922485415937","text":"My
        first notes","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"http:\/\/sentapp.com\/\" rel=\"nofollow\"\u003eSentimentalDeee\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1077054156,"id_str":"1077054156","name":"llllllllllllll","screen_name":"pekrfh","location":"California,
        USA","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":21,"listed_count":0,"created_at":"Thu
        Jan 10 16:39:22 +0000 2013","favourites_count":8,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":74,"lang":"ru","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme13\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/681384172481425408\/8ayMq1-C_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/681384172481425408\/8ayMq1-C_normal.jpg","profile_link_color":"89C9FA","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 13 Jul 2017 17:42:01 GMT
recorded_with: VCR 3.0.3
